<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align:center"> Edit <%=sneaker.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/sneakers/<%= sneaker._id %>?_method=PUT" method="POST">
                <div class="form-group">
                     <input class="form-control" type="text" name="sneaker[name]" value="<%= sneaker.name %>">
                </div>
                <div class="form-group">
                     <input class="form-control" type="number" name="sneaker[price]" value="<%= sneaker.price %>" min="0.01" step="0.01">
                </div>
                <div class="form-group">
                     <input class="form-control" type="text" name="sneaker[image]" value="<%= sneaker.image %>">
                </div>
                <div class="form-group">
                     <input class="form-control" type="text" name="sneaker[description]" value="<%= sneaker.description %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
        </form>
        <a href="/sneakers">Back</a>
        </div>
        
    </div>
    
</div>



<% include ../partials/footer %>